.idea
.sass-cache
.DS_Store
node_modules
guide
.env
/wp/*
!/wp/wp-content/
/wp/wp-content/*
!/wp/wp-content/plugins/
!/wp/wp-content/themes/
!/wp/wp-content/languages/
/wp/wp-content/languages/*
!/wp/wp-content/languages/plugins/
!/wp/wp-content/languages/themes/
!.keep
