.idea
.sass-cache
.DS_Store
node_modules
guide
.env
/wp/*
!/wp/wp-content/
/wp/wp-content/*
!/wp/wp-content/plugins/
!/wp/wp-content/themes/
/wp/wp-content/themes/**/assets/
/wp/wp-content/themes/**/images/
/wp/wp-content/themes/**/anticache.json
!/wp/wp-content/languages/
/wp/wp-content/languages/*
!/wp/wp-content/languages/plugins/
!/wp/wp-content/languages/themes/
/wp/wp-content/plugins/hello.php
/wp/wp-content/themes/twentyfifteen*
/wp/wp-content/themes/twentysixteen*
/wp/wp-content/themes/twentyseventeen*
/wp/wp-content/languages/themes/twenty*o
*.map
!.keep
