# Copy and create ".env" file same directory
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=wordpress
# Only first build
WP_ROOT=/var/www/html
WP_URL=http://localhost
WP_VERSION=4.8.2
WP_DB_PREFIX=wp_
WP_ADMIN_USER=root
WP_ADMIN_PASSWORD=root
WP_ADMIN_EMAIL=root@example.com
WP_CURRENT_THEME=sampletheme
