# Copy and create ".env" file same directory
XDEBUG_REMOTE_HOST=
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=wordpress
PHP_ERROR_LOG=/proc/self/fd/2
# Only first build
WP_ROOT=/var/www/html
WP_URL=http://localhost
WP_VERSION=latest
WP_DB_PREFIX=wp_
WP_ADMIN_USER=root
WP_ADMIN_PASSWORD=root
WP_ADMIN_EMAIL=root@example.com
WP_CURRENT_THEME=sampletheme
